@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTMX indicator styles */
.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline-flex;
}
.htmx-request.htmx-indicator {
    display: inline-flex;
}
